<div id="apexir_DATA_PANEL">
<tr><td><table summary="" cellpadding="0" cellspacing="0" border="0" class="apexir_WORKSHEET_DATA" id="80340213897823017">
	<tr><th colspan="8" class="apexir_REPEAT_HEADING" id="BREAK_COUNTRY_NAME_63">Country/Location Represented : <span class="apex_break_headers">JAPAN</span></th></tr>
<tr><th id="FP_NAME">&nbsp;</th><th id="FP_NAME"><div style="text-align:left;">Foreign Principal</div></th><th id="FP_REG_DATE"><div style="text-align:left;">Foreign Principal<br>Registration Date</div></th><th id="ADDRESS_1"><div style="text-align:left;">Address</div></th><th id="STATE"><div style="text-align:left;">State</div></th><th id="REGISTRANT_NAME"><div style="text-align:left;">Registrant</div></th><th id="REG_NUMBER"><div style="text-align:left;">Registration #</div></th><th id="REG_DATE"><div style="text-align:left;">Registration<br>Date</div></th></tr><tr class="even"><td headers="LINK BREAK_COUNTRY_NAME_39"><a href="f&#x3F;p&#x3D;171&#x3A;200&#x3A;16328121970662&#x3A;&#x3A;NO&#x3A;RP,200&#x3A;P200_REG_NUMBER,P200_DOC_TYPE,P200_COUNTRY&#x3A;6167,Exhibit&#x25;20AB,EL&#x25;20SALVADOR" ><img src="/i/view.gif" alt="View Documents"></a></td><td  align="left" headers="FP_NAME BREAK_COUNTRY_NAME_39">Nationalist Republican Alliance (ARENA)</td><td  align="left" headers="FP_REG_DATE BREAK_COUNTRY_NAME_39">05/03/2013</td><td  align="left" headers="ADDRESS_1 BREAK_COUNTRY_NAME_39">Prolongacion Calle Arce  Entre 45 y47 Avenida Norte #2429<br>Colonia Flor Blanca  San Salvador Centro America&nbsp;&nbsp;</td><td  align="left" headers="STATE BREAK_COUNTRY_NAME_39"></td><td  align="left" headers="REGISTRANT_NAME BREAK_COUNTRY_NAME_39">Valladares, Fernando</td><td  align="center" headers="REG_NUMBER BREAK_COUNTRY_NAME_39">6167</td><td  align="left" headers="REG_DATE BREAK_COUNTRY_NAME_39">05/03/2013</td></tr>
<tr><th colspan="8" class="apexir_REPEAT_HEADING" id="BREAK_COUNTRY_NAME_40">Country/Location Represented : <span class="apex_break_headers">EQUATORIAL GUINEA</span></th></tr>
</table>
</td></tr>
</div>